.user-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    width: 255px;
    margin: 0 auto;
    padding: 2em 0;

    &__edit-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .collapse__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & input {
            padding: 5px;
            font-size: 1rem;
            width: 150px;
        }

        & .input-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__welcome-container {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 3.5em;
    }

    &__welcome {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
        margin: 0;
        color: #fff;
        font-size: 2em;
        font-weight: bold;

        &--visible {
        opacity: 1;
        transition: opacity 400ms ease-in-out;
        }
    }

    &__buttons{
        position: relative;
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin-top: 10px;

        & .btn {
            position: absolute;
            padding: 10px;
            width: 50%;
            opacity: 0;
            pointer-events: none;
        }

        & .btn--visible {
            position: static;
            opacity: 1;
            transition: opacity 600ms ease-in-out;
            pointer-events: auto;
        }

        .btn-content {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}