.user-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    width: 250px;
    margin: 0 auto;
    padding: 2em 0;

    &__edit-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        & input {
            padding: 5px;
            font-size: 1rem;
            width: 150px;
        }

        & .input-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__welcome {
        margin: 0;
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        & .btn {
            padding: 10px;
            width: 50%;
        }
    }
}