.collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms ease-in-out;

  &--open {
    grid-template-rows: 1fr;
  }

  &__content {
    overflow: hidden;
    min-height: 0;
  }
}