.loader {
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;

  &--normal {
    border: 4px solid #000;
    border-left-color: #fff;
    width: 100px;
    height: 100px;
  }

  &--small {
    border: 2px solid #000;
    border-left-color: #fff;
    width: 10px;
    height: 10px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}