@use "../../../../styles/mixin.scss" as m;

.hero {
    position: relative;
    height: 300px;
    overflow: hidden;
    @include m.respond-to(desktop) {
        height: 400px;
    }
    &__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 -50px;
        display: block;

        @include m.respond-to(desktop) {
            object-position: 0% 33%;
        }
    }
    &__content {
        position: relative;
        top: 2rem;
        width: 200px;
        padding: 2rem;
        background: white;
        text-align: left;
        margin: 0 auto;
        @include m.respond-to(desktop) {
            position: absolute;
            top: 50px;
            right: 50px;
            width: 300px;
            margin: 2rem;
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
        @include m.respond-to(desktop) {
            font-size: 1.5rem;
        }
    }
    &__text {
        font-size: 0.9rem;
        margin-bottom: 0;
        @include m.respond-to(desktop) {
            font-size: 1.2rem;
        }
    }
}